<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Welcome!</display-name>
    <servlet>
        <servlet-name>SearchToFlickrServlet</servlet-name>
        <servlet-class>flickrShow.SearchToFlickrServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByTitleServlet</servlet-name>
        <servlet-class>servlets.SearchByTitleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoviesServlet</servlet-name>
        <servlet-class>addMovies.AddMoviesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalysisSentimentServlet</servlet-name>
        <servlet-class>sentiment.AnalysisSentimentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchByTitleServlet</servlet-name>
        <url-pattern>/SearchByTitleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchToFlickrServlet</servlet-name>
        <url-pattern>/SearchToFlickrServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchToGoogleServlet1</servlet-name>
        <servlet-class>googleShow.SearchToGoogleServlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchToGoogleServlet1</servlet-name>
        <url-pattern>/SearchToGoogleServlet1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchYouTubeServlet</servlet-name>
        <servlet-class>youTubeShow.SearchYouTubeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchYouTubeServlet</servlet-name>
        <url-pattern>/SearchYouTubeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MovieLocalServlet</servlet-name>
        <servlet-class>servlet.MovieLocalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieLocalServlet</servlet-name>
        <url-pattern>/MovieLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoviesServlet</servlet-name>
        <url-pattern>/AddMoviesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalysisSentimentServlet</servlet-name>
        <url-pattern>/AnalysisSentimentServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
